/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 oct 2025, 14:05:26
    Author     : bacia
*/
h1 {
    margin-bottom:0;
}
#encabezado {
    background-color:#ddf0a4;
}
#contenido {
    background-color:#EEEEEE;
    height:600px;
}
#pie {
    background-color:#ddf0a4;
    color:#ff0000;
    height:30px;
}

